.app {
  text-align: center;
  color: black;
  background-color: rgb(186, 207, 225);
  height: 70vh;
  width: 1000px;
  margin: 0px auto;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  font-family: 'Oswald', sans-serif;
}

.app.dark {
  color: azure;
  background-color: #445760;
  
}

.app a {
  text-decoration: none;
  color: #28353b;
}
.app.dark a  {
  text-decoration: none;
  color: #f3f3f3;
}

#select {
  border-radius: 5px;
  width: 200px;
  height: 30px;
  margin-top: 2vh;
  margin-left: 5px;
  margin-right: 5px;
}


.Main {
  font-size: 20px;
  height: 227px;
  background-color: #85c9dd;
  display: flex;
  justify-content: center;
  align-items: center;
}

.today {
  background-color: rgb(27, 122, 122);
  color: #28353b;
  border-radius: 5px;
}
.today.dark {
  color: azure;
  background-color: #28353b
}

.dailyWeather {
  width: 200px;
} 

.dailyWeather img {
  width: 75;
  height: 75px;
}

.dailyWeather div {
  padding-bottom: 20px;
}

.dailyWeather div span {
  padding: 3px;
}

.loading {
  width:200px;
  border-radius: 5px;
}